* {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 36px !important;
  font-weight: 300 !important;
}
@media screen and (max-width: 992px) {
  h3 {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    padding-left: 20px;
  }
}

p {
  font-size: 18px !important;
  color: #4a4a4a !important;
  font-weight: 300 !important;
}
@media screen and (max-width: 992px) {
  p {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 768px) {
  p {
    padding-left: 20px;
  }
}

body {
  overflow-x: hidden;
}

#wrapper #navigation .navbar {
  background-color: #44c2ea;
}
#wrapper #navigation .nav-item a {
  font-size: 1rem;
  color: white;
  font-weight: 300;
  padding: 20px 12px;
}
@media screen and (max-width: 768px) {
  #wrapper #navigation .nav-item a {
    padding-left: 20px;
  }
}
#wrapper #navigation .dropdown-item {
  color: #4a4a4a !important;
}
#wrapper #o-nas {
  position: relative;
  top: 60px;
}
#wrapper #o-nas .container-fluid {
  background-image: url(../images/background.png);
  padding: 0;
  height: 100vh;
  min-height: 750px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  #wrapper #o-nas .container-fluid {
    background-size: cover;
    background-position-x: 70%;
    background-position-y: -120px;
  }
}
#wrapper #o-nas .container-fluid img {
  width: 100%;
}
#wrapper #o-nas .container {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 210px;
}
@media screen and (max-width: 992px) {
  #wrapper #o-nas .container .headerText {
    top: 30px;
  }
}
@media screen and (max-width: 768px) {
  #wrapper #o-nas .container .headerText {
    top: 60px;
  }
}
#wrapper #o-nas .container .headerText a {
  background-color: #44c2ea;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
  top: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #wrapper #o-nas .container .headerText a {
    margin-left: 20px;
  }
}
#wrapper #ciel-projektu {
  margin-top: 20px;
}
#wrapper #ciel-projektu img {
  width: 100%;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
}
@media screen and (max-width: 768px) {
  #wrapper #ciel-projektu img {
    margin-top: 30px;
  }
}
#wrapper #ciel-projektu h3 {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #wrapper #ciel-projektu h3 {
    text-align: left;
    padding-left: 20px;
  }
}
#wrapper #ciel-projektu p {
  padding-right: 40px;
}
@media screen and (max-width: 992px) {
  #wrapper #ciel-projektu p {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  #wrapper #ciel-projektu p {
    text-align: left;
    padding-left: 20px;
  }
}
#wrapper #bio-farma {
  margin-top: 40px;
}
#wrapper #bio-farma .container-fluid {
  padding: 0;
}
#wrapper #bio-farma p {
  padding: 20px 20px;
}
#wrapper #bio-farma h3 {
  text-align: center;
  padding: 20px;
}
#wrapper #bio-farma .bio-text {
  position: absolute;
  background-color: white;
  top: 70%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #wrapper #bio-farma .bio-text {
    position: relative;
    top: 100px;
  }
}
@media screen and (max-width: 440px) {
  #wrapper #bio-farma .bio-text {
    top: 120px;
  }
}
@media screen and (max-width: 1440px) {
  #wrapper #bio-farma .bio-text h3 {
    margin-bottom: 0;
    padding: 10px;
  }
  #wrapper #bio-farma .bio-text p {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  #wrapper #bio-farma .bio-text h3 {
    margin-bottom: 0;
    padding: 20px;
    text-align: left;
  }
  #wrapper #bio-farma .bio-text p {
    padding-top: 0;
    text-align: left;
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  #wrapper #bio-farma img {
    width: 150% !important;
    left: -15%;
    position: relative;
  }
}

#chov-dobytka {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  #chov-dobytka {
    margin-top: 0px;
  }
}
#chov-dobytka img {
  width: 100%;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
}
@media screen and (max-width: 992px) {
  #chov-dobytka img {
    margin-top: 60px;
  }
}
#chov-dobytka h3 {
  margin-top: 40px;
}
#chov-dobytka h5 {
  color: #4a4a4a !important;
  font-weight: 300 !important;
  margin-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 992px) {
  #chov-dobytka h5 {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  #chov-dobytka h5 {
    padding-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  #chov-dobytka p {
    margin-bottom: 0;
  }
}

#gallery {
  margin-top: 60px;
}
#gallery h3 {
  padding-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  #gallery img {
    min-height: 160px;
    max-height: 160px;
  }
}
@media screen and (max-width: 992px) {
  #gallery img {
    min-height: 120px;
    max-height: 120px;
  }
}
@media screen and (max-width: 768px) {
  #gallery img {
    min-height: 220px;
    max-height: 220px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 768px) {
  #gallery .row {
    margin-top: 0px !important;
  }
}

#contact {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  #contact .col-md-6 {
    margin-top: 30px !important;
  }
}

.zoom {
  overflow: hidden;
}
.zoom:hover img {
  transform: scale(1.3);
}
.zoom img {
  width: 100%;
  max-height: 170px;
  transition: all 0.5s ease-in-out;
}

#map {
  height: 400px;
  width: 100%;
}

#footer {
  background-color: #4a4a4a;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
}
#footer .col-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .col-12 a {
  color: white !important;
}
@media screen and (max-width: 768px) {
  #footer img {
    width: 130px;
  }
}

#verejne-obstaravanie {
  margin-top: 160px;
}

@media screen and (max-width: 992px) {
  .dropdown-menu {
    border: none !important;
  }
}
.dropdown-menu .dropdown-item {
  padding: 10px 10px !important;
}

/*# sourceMappingURL=zetes.css.map */
